body{
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    width:100%;
    position:fixed;
    top:0;
    background-color: blue;
    height: min-content;
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.link{
    box-sizing:border-box;
    color:greenyellow;
    font-size: x-large;
}
.content-box{
    width:100%;
    height:min-content;
}
#heading{
    width:100%;
    height:min-content;
    background-color:black;
    color:red;
    text-align: center;
    box-sizing: border-box;
}